        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background: linear-gradient(#412f0e, #f0c27b);
            color: #fff;
            background-repeat: no-repeat;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
        }